/* pacifico-regular - latin */
@font-face {
  font-family: "Pacifico";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/pacifico-v17-latin-regular.woff2") format("woff2"), url("../fonts/pacifico-v17-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-300 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/raleway-v22-latin-300.woff2") format("woff2"), url("../fonts/raleway-v22-latin-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-700 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/raleway-v22-latin-700.woff2") format("woff2"), url("../fonts/raleway-v22-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-900 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/raleway-v22-latin-900.woff2") format("woff2"), url("../fonts/raleway-v22-latin-900.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

ul,
ol {
  list-style: none;
}

img {
  vertical-align: top;
}