* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 90%;
    max-width: 940px;
    margin: 0 auto;
}

.clr:after {
    content: '';
    clear: both;
    height: 0;
} 

header {
    padding: 140px 0 98px;
    text-align: center;
    text-transform: uppercase;
}

header .subheader {
    color: #898f99;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 26px;
    letter-spacing: 4px;
}

h1 {
    color: #0ec8cb;
    font-weight: 400;
    letter-spacing: 5px;
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 30px;
}

header .header_descr {
    width: 58%;
    margin: 0 auto;
    color: #999;
    font-size: 18px;
    line-height: 30px;
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 1px;
}

main {
    font-size: 0;
}

.card {
    width: 25%;
    display: block;
    float: left;
    text-align: center;
    border: 1px solid #ececec;
    font-size: 14px;
    padding: 56px 27px 90px;
    background-color: #f7f7f7;
    color: #777;
    transition: all .2s ease-in;
    margin-bottom: 100px;
}

.card h3 {
    font-size: 21px;
    font-weight: 400;
    color: #1b1b1b;
    text-transform: uppercase;
}

.table_header {
    display: table;
    width: 100%;
    height: 5em;
    margin-bottom: 3px;
}

.table_header-1 {
    display: table-cell;
    vertical-align: middle;
}

.card p {
    line-height: 23px;
    font-family: 'PT Sans', sans-serif;
    hyphens: auto;
}

.card:hover {
    background-color: #0ec8cb;
    border: 1px solid #0ec8cb;
    color: #fff;
}

.card:hover h3 {
    color: #fff;
} 

.icon {
    width: 66px;
    height: 68px;
    background-image: url('../images/sprite_logo.png');
    background-repeat: no-repeat;
    overflow: hidden;
    margin: 0 auto 22px;  
}

.card .icon_anchor {
    background-position: 0 0;
}

.card:hover .icon_anchor {
    background-position: 0 -120px;
}

.card .icon_diamond {
    background-position: -84px 0;
}

.card:hover .icon_diamond {
    background-position: -84px -120px;
}

.card .icon_eyeglasses {
    background-position: -169px 0;
}

.card:hover .icon_eyeglasses {
    background-position: -169px -120px;
}

.card .icon_monitor {
    background-position: -254px 0;
}

.card:hover .icon_monitor {
    background-position: -254px -120px;
}









