* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

#bill td {
  padding: 0 20px;
}
#bill td:nth-of-type(3) {
  font-weight: 600;
}

.cart_style {
  font-size: 16px;
  font-family: monospace;
}