* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

#bill, #bill_foot {
  font-family: "Courier New", Courier, monospace;
}

#bill td {
  padding: 0 20px;
}
#bill td:nth-of-type(3) {
  font-weight: 600;
}

#bill_foot {
  font-weight: 600;
}