* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #3499cc;
    border: 24px solid #2b81ac;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    color: #fff; 
}

.container {
    width: 90%;
    max-width: 984px;
    margin: 0 auto;
}

.w50 {
    width: 50%;
}

.w100 {
    width: 100%;
}

h1 {
    font-size: 30px;
    font-weight: 400;
    padding: 29px 0 35px;
    letter-spacing: 0.6px;
    display: inline-block;
    margin-right: 2px;
}

h1 + i {
    font-size: 30px;
    position: relative;
    top: 2px;
}

ul {
    list-style: none;
    font-size: 0;
    border: 3px solid #fff; 
    margin-bottom: 30px;
}

.content {
    padding: 28px 0 18px;
    transition: all .2s ease-in;
}

ul:hover li .content{
    opacity: 0.6;
}

ul:hover li .content:hover {
    opacity: 1;
    cursor: pointer;
}

li {
    display: inline-block;
    width: 25%;
    border: 3px solid #fff;
    font-size: 22px;
    color: #fff;
    font-weight: 400;
    text-align: center;
}

h3 {
    line-height: 34px;
    font-size: 22px;
    margin-bottom: 7px;
    letter-spacing: 1px;
}

.value span {
    color: rgba(255, 255, 255, 0.64);
    vertical-align: middle;
    margin-left: 2px;
}

.icon {
    font-size: 42px;
    line-height: 61px;
}

ul li:first-child .content{
    background-color: #3499cc;
}

ul li:nth-child(2) .content{
    background-color: #33cccc;
}

ul li:nth-child(3) .content{
    background-color: #969;
}

ul li:nth-child(4) .content{
    background-color: #c24747;
}

ul li:nth-child(5) .content{
    background-color: #e2674a;
}

ul li:nth-child(6) .content{
    background-color: #ffcc66;
}

ul li:nth-child(7) .content{
    background-color: #9c9;
}

ul li:nth-child(8) .content{
    background-color: #699;
}

ul li:nth-child(9) .content{
    background-color: #c69;
}

ul li:nth-child(10) .content{
    background-color: #396;
}

ul li:nth-child(11) .content{
    background-color: #669;
}

.footer_txt {
    font-size: 22px;
    padding-bottom: 100px;
}