/* pacifico-regular - latin */
@font-face {
  font-family: "Pacifico";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/pacifico-v17-latin-regular.woff2") format("woff2"), url("../fonts/pacifico-v17-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-300 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/raleway-v22-latin-300.woff2") format("woff2"), url("../fonts/raleway-v22-latin-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-700 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/raleway-v22-latin-700.woff2") format("woff2"), url("../fonts/raleway-v22-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-900 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/raleway-v22-latin-900.woff2") format("woff2"), url("../fonts/raleway-v22-latin-900.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  vertical-align: top;
}

.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

.main-content-fresh {
  background: url(../images/image1.png) center center/cover no-repeat;
}

.fresh {
  padding-top: 31px;
  padding-bottom: 405px;
  position: relative;
}

.fresh-header {
  margin-bottom: 230px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__link {
  font-size: 50px;
  font-family: "Pacifico";
  color: #262626;
}
.header__nav-menu {
  flex-basis: 47%;
}
.header__nav-menu .nav {
  display: flex;
  justify-content: space-between;
}
.header__nav-menu .nav__link {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  color: #262626;
  padding: 6px 10px;
  position: relative;
}
.header__nav-menu .nav__link:after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #ff6033;
  position: absolute;
  top: 0;
  left: 10px;
  transition: all 0.3s ease-in;
}
.header__nav-menu .nav__link:hover:after {
  width: calc(100% - 20px);
}

.fresh__aside {
  width: calc(100% - 800px);
  margin-bottom: 30px;
}

.aside__title {
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 14px;
}
.aside__title--white {
  color: #fff;
}
.aside__title--big {
  font-size: 90px;
  font-weight: 700;
}
.aside__descr {
  font-size: 17px;
  line-height: 26px;
}
.aside__descr--white {
  color: #fff;
}

.btn-common {
  display: block;
  width: 200px;
  height: 55px;
  text-align: center;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.3s ease;
}

.fresh-btn--orange {
  background-color: #ff6033;
}
.fresh-btn:hover {
  background-color: #f83e0a;
}

.mouse-scroll {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 70px;
  left: 49%;
}

/* ---- About us -----*/
.main-content-about {
  background-color: #00b4b4;
}

.about {
  padding: 70px 0 70px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.about__image {
  margin-left: 10px;
}
.about__aside {
  padding: 92px 0 0 95px;
}
.about__aside .fresh-title {
  margin-bottom: 7px;
}
.about__aside .fresh-descr {
  margin-bottom: 10px;
}

.services {
  background-color: #70bfff;
}
.services .services-main {
  padding-top: 100px;
  padding-bottom: 150px;
}
.services .services-main__wrapper {
  display: flex;
  justify-content: space-between;
}
.services .services-main__list {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}
.services .services-main__item {
  width: 400px;
  background-color: #fff;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;
}
.services .services-main__item:hover {
  background: linear-gradient(90deg, #ffaf1b 10%, #00bcd4 50%, #c4ee82 92%);
  transform: translateX(20px);
}
.services .services-main__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  color: #262626;
  font-weight: 600;
  transition: all 0.5s ease;
  cursor: pointer;
}
.services .services-main__link svg {
  height: 55px;
  width: 55px;
  transition: all 0.5s ease;
}
.services .services-main__link-span {
  flex: 1;
  text-align: center;
  padding: 0 30px;
}
.services .services-main__svg {
  border-left: 1px solid #9d9d9d;
  height: 100%;
  padding: 20px;
}
.services .services-main__info {
  background: url(../images/tomato.png) right center no-repeat;
  flex-basis: 50%;
}
.services .services-main__title {
  text-align: right;
  margin-top: 230px;
}

.main-contact-foot {
  background: url(../images/img-footer.png) center center/cover no-repeat;
}

.contact-foot__header {
  width: 347px;
  margin: 0 auto 39px;
  text-align: center;
  padding-top: 81px;
}
.contact-foot__title {
  margin-bottom: 21px;
}

.contact-content {
  display: flex;
  padding-bottom: 48px;
}

.contact-form {
  flex-basis: calc(100% - 500px);
}
.contact-form__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 15px;
}
.contact-form__input {
  width: 500px;
  border-width: 0;
  color: #fff;
  background-color: #00c4c4;
  opacity: 0.5;
  border-left: 5px solid transparent;
  cursor: pointer;
}
.contact-form__input:hover {
  opacity: 1;
}
.contact-form__input:focus {
  outline: 0;
  box-shadow: 0;
}
.contact-form__input::placeholder {
  color: transparent;
}
.contact-form__input:focus, .contact-form__input:not(:placeholder-shown) {
  border-left: 5px solid #355b82;
  opacity: 1;
  padding-top: 23px;
}
.contact-form__input:focus + .contact-form__label, .contact-form__input:not(:placeholder-shown) + .contact-form__label {
  transform: translate(1%, -25%) scale(0.8);
}
.contact-form__input, .contact-form__input + .contact-form__label {
  line-height: 1;
  font: inherit;
  padding: 1em 0.4em;
  height: 3.1em;
  position: relative;
}
.contact-form__input + .contact-form__label {
  position: absolute;
  left: 10%;
  user-select: none;
  color: #fff;
  transition: transform 0.25s ease-in-out;
  transform-origin: 0 0;
  opacity: 0.7;
}
.contact-form__textarea {
  width: 500px;
  height: 250px;
  resize: none;
  padding: 20px;
}
.contact-form__button {
  margin-left: 140px;
}
.contact-form__button--blue {
  background-color: #114b85;
}
.contact-form__button--blue:hover {
  background-color: #082b4e;
}

.address__title {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 3px;
}
.address__link {
  display: block;
  color: #262626;
  margin-bottom: 12px;
  font-size: 20px;
  cursor: pointer;
}

.footer {
  background-color: #262626;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 18px 0;
  line-height: 55px;
  color: #b9b9b9;
}
.footer-content__logo {
  font-family: "Pacifico", serif;
  color: #b9b9b9;
  font-size: 25px;
  margin-left: -65px;
  cursor: pointer;
}
.footer-content__text {
  letter-spacing: -1px;
  font-size: 15px;
}
.footer-content__text--red {
  color: #ff2b58;
  font-weight: 700;
}