* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 90%;
    max-width: 1110px;
    margin: 0 auto;
}

.clr {
    clear: both;
    height: 0;
    display: block;
    line-height: 0;
}

h4 {
    color: #2F281E;
    font-size: 36px;
    line-height: 54px;
    font-weight: 700;
}

p, li {
    color: #544837;
}

ul {
    list-style: none;
}

header {
    padding-top: 35px;
    margin-bottom: 53px;
}

#logo {
    float: left;
    margin-top: 7px;
}

#main_menu {
    float: right;
    margin-right: 54px;
    margin-top: 12px;
}

#main_menu ul {
    text-align: right;
    font-size: 0;   
}

#main_menu ul li {
    display: inline-block;
    margin-right: 28px;
}

#main_menu ul li.last {
    margin-right: 0;
}

#main_menu ul li a {
    color: #2F281E;
    font-size: 14px;
    text-decoration: none;
}

#main_menu ul li a:hover {
    color: #f90;
    text-decoration: underline;
} 

.header_buttons {
    float: right;
}

.btn {
    display: inline-block;
    height: 46px;
    font-family: poppins;
    padding: 0 25px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.btn-white {
    background-color: #fff;
    color: #173A56;
    border: 1px solid #BCD0E5;
}

.btn-white:hover {
    background-color: #173A56;
    color: #fff;
}

.btn-orange {
    background-color: #f90;
    color:#fff;
    border: 1px solid #f90;
}

.btn-orange:hover {
    background: #173A56;
    color: #fff;
    border-color: #173A56;
}

.header_buttons .btn-white {
    margin-right: 10px;   
}

.superpowers_text {
    float: left;
    width: 43%;
}

.superpowers_text h3 {
    font-size: 44px;
    font-weight: 700;
    color: #2F281E;
    margin-bottom: 30px;
    padding-top: 78px;
    line-height: 54px;
}

.superpowers_text p {
    width: 93%;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 56px;
}

.superpowers_image {
    float: right;
    margin-bottom: 99px;
}

.bottom_btn {
    height: 53px;
    font-weight: 700;
    padding: 0 41px;
    margin-right: 27px;
}

.triangle {
    display: inline-block;
    color: #f90
}

.triangle span {
    margin-left: 6px;
}

.triangle span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.tools_header {
    width: 42%;
    text-align: center;
    margin: 0 auto 54px;
}

.tools_cards {
    margin-bottom: 34px;
}
/* не уверена, что так выравнивать правильно, но по-другому не получалось */
.card {
    float: left;
    width: 26%
}

.last_card {
    width: 22%
}
/* пыталась нарисовать сама, но как сделать тень не знаю */
.card_logo {
    width: 50px;
    height: 50px;
    border-radius: 19px;
    line-height: 55px;
    text-align: center;
    margin-bottom: 30px;
}

.arrow {
    background-color: #7752BE;
}

.wave {
    background-color: #FAB005;
}

.heart {
    background-color: #F03E3D;
}

.clock {
    background-color: #4DADF7;
}

.card h5 {
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 13px;
}

.card p {
    width: 73%;
    line-height: 26px;
}

.btn-upper {
    display: block;
    margin: 0 auto 212px;
    height: 53px;
    padding: 0 33px;
    text-transform: uppercase;
    font-weight: 700;
}

.professionals .left_side {
    padding-top: 24px;
}

.left_side {
    float: left;
    width: 44%;
}

.small_header {
    font-size: 16px;
    font-weight: 500;
    color: #544837;
    line-height: 24px;
}

.left_side h4 {
    margin: 3px 0 22px;
}

.left_side p {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 26px;
}

.left_side p:first-of-type {
    margin-bottom: 30px;
}

.left_side h6 {
    font-size: 16px;
    font-weight: 700;
    color: #2F281E;
    margin-bottom: 12px;
}

.right_side {
    float: right;
}

.professionals {
    margin-bottom: 101px;
}

.managers .left_part {
    float: left;
}

.managers .right_part {
    width: 44%;
    float: right;
    padding-top: 40px;
    margin-right: -13px;
}

.managers .right_part h4 {
    margin: 3px 0 22px;   
}

.managers .right_part p {
    margin-bottom: 30px;
    line-height: 26px;
}

.managers .right_part ul li {
    background: url(../images/listtick.png) left no-repeat;            
    padding-left: 65px;
    width: 92%;
    margin-bottom: 30px;
}

.managers .right_part ul li:first-child {
    padding-right: 20px;
}

.managers {
    margin-bottom: 86px;
}

.marketers .left_side {
    padding-top: 40px;
}

.marketers_content {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 139px;
}

footer {
    padding-bottom: 83px;
}

.footer_content {
    padding-top: 102px;
}

.footer_logo {
    margin-bottom: 26px;
}

.disclaimer li,
.about li {
    font-size: 16px;
    line-height: 35px;
}
/*не знаю как сделать ровный border*/
input {
    display: block;
    width: 325px;
    height: 48px;
    border-color: #f2f2f2;
    margin-bottom: 21px;
}

form {
    float: right;
    padding-top: 26px;
}

ul.disclaimer {
    float: right;
    margin-right: 82px;
}

ul.about {
    float: right;
    margin-right: 175px;
}

.footer_content ul li a:hover {
    color: #f90;
    text-decoration: underline;
}

.footer_btn {
    height: 39px;
    padding: 0 15px;
}
