$base_size:16;
@mixin fz($px_size) {
    font-size: ($px_size/$base_size)+rem;
}


@media screen and (max-width:1400px) {
    .slider__title {
        @include fz(70);
        width: 90%;
    }
    .lslider_wrap {
        padding: 0 45px;
    }
    .slider_btn.prev {
        left: -50px;
    }
    .slider_btn.next {
        right: -50px;
    }
    .owl {
        padding: 0 45px;
    }
}

@media screen and (max-width:1150px) {
    .slider__title {
        @include fz(65);
        &:before {
            left: 5%;
        }
    }
    .slick-prev {
        left: -55px;
    }
    .slick-prev:before,
    .slick-next:before,
    .slider_btn {
        width: 50px;
        height: 50px;
    }
    .slick-prev:after {
        top: 80%;
        left: 100%;
    }
    .slick-next:after {

        top: 80%;
        left: 50%;
    }
    .slider_btn.prev {
        left: -18px;
    }
    .slider_btn.next {
        right: -18px;
    }
    .owl {
        .slider_btn.owlprev{
            left: -62px;
        }
        .slider_btn.owlnext {
            right: -62px;
        }
    }
}

@media screen and (max-width:950px) {
    .slider__title {
        @include fz(60);
       
    }
}

@media screen and (max-width:860px) {
    .slider__title {
        @include fz(50);
        line-height: 70px;
       
    }
}
@media screen and (max-width:750px) {
    .slider__title {
        @include fz(40);
        line-height: 65px;
        margin: 0 auto 80px;
        &:after {
            top: 15px;
        }
    }
    .slick-prev {
        left: -45px;
    }
    .slick-next {
        right: -15px;
    }
}

@media screen and (max-width:620px) {
    .slider__title {
        @include fz(30);
        line-height: 50px;       
    }
    .slider_btn {
        display: none;
    }
}

@media screen and (max-width:450px) {
    .slider__title {
        @include fz(22);
        line-height: 30px;
        &:after {
            right: 10%;
            top: 40px;
        }
    }
}