/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/poppins-v15-latin-regular.woff2") format("woff2"), url("../fonts/poppins-v15-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-600 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/poppins-v15-latin-600.woff2") format("woff2"), url("../fonts/poppins-v15-latin-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  vertical-align: top;
}

body {
  font-size: 1rem;
  min-width: 350px;
  font-family: "Poppins";
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1800px;
}

.slick {
  width: 94%;
  margin: 0 auto 40px;
}

.slider__subtitle {
  margin: 65px 0 31px;
  font-size: 1.125rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}

.slider__title {
  margin: 0 auto 100px;
  width: 80%;
  display: block;
  font-size: 5.375rem;
  text-align: center;
  line-height: 86px;
  text-transform: uppercase;
}
.slider__title:before {
  content: url(../images/triangle.png);
  position: absolute;
  top: 210px;
  left: 10%;
  z-index: -1;
}
.slider__title:after {
  content: url(../images/plus.png);
  position: absolute;
  top: 0;
  right: 25%;
  z-index: -1;
}

.slick-slide {
  margin: 0 10px;
}
.slick-slide img {
  width: 100%;
}

.hover {
  display: none;
  position: absolute;
  bottom: 10%;
  left: 0;
  z-index: 20;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.125rem;
  padding: 0 10% 0 10%;
  font-weight: 600;
}
.hover__subtitle {
  font-size: 0.75rem;
}

.slick__block {
  position: relative;
  overflow: hidden;
}
.slick__block:hover {
  background-color: #1bf1ad;
}
.slick__block:hover .slick__img {
  opacity: 0.1 !important;
}
.slick__block:hover .hover {
  display: block;
}

.slick-prev {
  left: -85px;
}

.slick-prev,
.slick-next {
  top: 45%;
}

.slick-prev:before,
.slick-next:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 80px;
  height: 80px;
  border: 1px solid #302d2d;
  border-radius: 50%;
  font-size: 20px;
  line-height: 1;
  font-family: poppins;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev:after,
.slick-next:after {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  border-left: 1px solid #302d2d;
  border-bottom: 1px solid #302d2d;
}

.slick-prev:after {
  transform: rotate(45deg);
  top: 145%;
  left: 170%;
}

.slick-next:after {
  transform: rotate(225deg);
  top: 145%;
  left: 120%;
}

.light {
  width: 100%;
}