$base_size:16;

@import 'fonts';

@mixin fz($px_size) {
    font-size: ($px_size/$base_size)+rem;
}


*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    vertical-align: top;
}

body {
    font-size: 1rem;
    min-width: 350px;
    font-family: 'Poppins';
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1800px;
}

.slider__subtitle {
    margin: 65px 0 31px;
    @include fz(18);
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}

.slider__title {
    margin: 0 auto 100px;
    width: 80%;
    display: block;
    @include fz(86);
    text-align: center;
    line-height: 86px;
    text-transform: uppercase;
 
   
   
    &:before {
        content: url(../images/triangle.png);
        position: absolute;
        top: 210px;
        left: 10%;
        z-index: -1;
    }
    &:after {
        content: url(../images/plus.png);
        position: absolute;
        top: 0;
        right: 25%;
        z-index: -1;

    }
}



.slick-prev:before,
.slick-next:before {
    color: #302d2d;
    font-size: 30px;
}

.slick-slide {
    margin: 0 10px;
    img {
        width: 100%;        
    }    
}

.hover {
    display: none;
    position: absolute;
    bottom: 10%;
    left: 0;
    z-index: 20;
    color: #fff;
    text-transform: uppercase;
    @include fz(18);
    padding: 0 10% 0 10%;
    font-weight: 600;
        &__subtitle {
            @include fz(12);
        }
}


.slick__block {
position: relative;
overflow: hidden;
    &:hover {
        background-color: #1bf1ad;
        .slick__img {        
            opacity: 0.1 !important;
        }
        .hover {
            display: block;
        }
    }
}


