@media screen and (max-width: 1210px) {
  .services .services-main__t-hidden {
    display: block;
    margin-bottom: 0;
  }
  .services .services-main__title {
    color: transparent;
  }
}
@media screen and (max-width: 1100px) {
  .services .services-main__list {
    padding-left: 50px;
    margin-top: 30px;
  }

  .blog-card__date {
    width: 50px;
    height: 50px;
    left: 20px;
    top: 20px;
  }
  .blog-card__date .date {
    font-size: 1.7rem;
    line-height: 14px;
  }
  .blog-card__date .month {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 1030px) {
  .fresh__aside {
    margin-bottom: 30px;
  }
  .fresh__aside-descr {
    width: 50%;
  }

  .aside__title--big {
    font-size: 4.62rem;
  }

  .services .services-main {
    padding: 60px 0;
  }
  .services .services-main__list {
    padding-left: 30px;
  }

  .gallery .gallery-main {
    padding: 60px 0;
  }
  .gallery .gallery-main__descr {
    width: 80%;
  }

  .subscribe-main {
    padding: 80px 0;
  }

  .subscribe-form__input {
    width: 450px;
  }

  .blog .blog-main {
    padding: 60px 0;
  }
  .blog .blog-main__header {
    width: 80%;
  }

  .contact-foot {
    padding: 60px 0 40px;
  }
  .contact-foot__header {
    width: 75%;
  }
}
@media screen and (max-width: 900px) {
  .container {
    width: 95%;
  }

  .about__aside {
    padding-left: 15px;
  }

  .aside__title--big {
    font-size: 3.62rem;
  }

  .subscribe-main__header {
    width: 56%;
  }

  .blog-card__date {
    width: 50px;
    height: 50px;
    left: 12px;
    top: 12px;
  }
  .blog-card__txt {
    padding: 0 12px 12px;
  }
  .blog-card__txt .title {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 770px) {
  .main-content-fresh {
    background-position: 60% center;
  }

  .header__nav-menu .nav__item + .nav__item {
    margin-left: 0;
  }
  .header__nav-menu .nav__link {
    padding: 15px 10px;
  }
  .header__nav-menu .nav__link:after {
    display: none;
  }

  .aside__title--big {
    font-size: 2.62rem;
  }

  .about__aside {
    padding-left: 0;
  }

  .services .services-main__list {
    padding-left: 0;
  }
  .services .services-main__item:hover {
    background: #fff;
    transform: translateX(0);
  }

  .gallery .gallery-main__descr {
    width: 80%;
  }

  .flex-pic:hover {
    transform: scale(1);
  }

  .subscribe-main {
    padding: 40px 0 40px;
  }
  .subscribe-main__header {
    width: 60%;
  }

  .subscribe-form__input {
    width: 420px;
  }

  .blog-card:hover {
    transform: scale(1);
  }
  .blog-card:hover .blog-card__date {
    left: 12px;
    top: 12px;
  }
  .blog-card__date {
    width: 50px;
    height: 50px;
    left: 12px;
    top: 12px;
  }
  .blog-card__txt {
    padding: 0 12px 12px;
  }
  .blog-card__txt .title {
    font-size: 1rem;
    margin-bottom: 5px;
  }

  .contact-form__input {
    width: 420px;
  }
  .contact-form__button {
    margin: 0 auto;
  }
}
@media screen and (max-width: 670px) {
  .header__nav-menu {
    display: none;
  }
  .header #hamburger_menu {
    display: block;
  }

  .fresh__aside .fresh-title {
    font-size: 2.5rem;
  }
  .fresh__aside-descr {
    width: 60%;
  }

  .blog-card {
    width: calc(50% - 14px);
  }

  .services .services-main__wrapper {
    display: block;
  }
  .services .services-main__info {
    display: none;
  }
  .services .services-main__list {
    align-items: center;
  }
  .services .services-main__item {
    width: 350px;
  }
  .services .services-main__svg {
    padding: 12px;
  }

  .contact-foot__header {
    margin-bottom: 20px;
  }
  .contact-foot__descr {
    font-size: 1.3rem;
  }

  .contact-content {
    width: 80%;
    flex-direction: column-reverse;
    align-items: center;
    margin: 0 auto;
  }
  .contact-content .address {
    align-items: center;
    text-align: center;
    padding: 0;
    margin-bottom: 20px;
  }

  .contact-form__input {
    width: 400px;
  }
  .contact-form__button {
    margin: 0 auto 20px;
  }

  .footer-content {
    padding: 10px 0;
  }
  .footer-content__logo {
    margin-left: 0;
  }
}
@media screen and (max-width: 570px) {
  .main-content-fresh {
    box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.45);
  }

  .aside__descr {
    line-height: 1.5rem;
  }

  .fresh__aside-descr {
    width: 70%;
  }

  .about {
    flex-direction: column-reverse;
  }
  .about__aside {
    width: 90%;
  }
  .about__aside .about-title {
    margin-bottom: 12px;
  }
  .about-title {
    text-align: center;
  }

  .flex-big {
    margin-bottom: 15px;
  }

  .flex-middle {
    gap: 15px;
  }

  .subscribe-main__header {
    width: 100%;
  }
  .subscribe-main__descr {
    width: 65%;
  }
  .subscribe-main__form {
    flex-direction: column;
    align-items: flex-start;
  }

  .subscribe-form__input {
    width: 310px;
    height: 50px;
    margin-bottom: 15px;
    font-size: 1rem;
  }
  .subscribe-form__btn {
    margin-left: 0;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
    line-height: 40px;
  }
}
@media screen and (max-width: 425px) {
  .fresh__aside .fresh-title {
    margin-bottom: 70px;
  }
  .fresh__aside-descr {
    margin-bottom: 150px;
    width: 80%;
  }

  .services .services-main {
    padding: 40px 0;
  }
  .services .services-main__item {
    width: 330px;
  }
  .services .services-main__link {
    font-size: 1rem;
  }
  .services .services-main__link svg {
    width: 45px;
    height: 45px;
  }

  .gallery .gallery-main {
    padding: 40px 0;
  }
  .gallery .gallery-main__descr {
    width: 90%;
  }

  .flex-big {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 20px;
  }
  .flex-big--big {
    flex-basis: 100%;
  }
  .flex-big--small {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 100%;
  }
  .flex-big--small .flex-pic {
    flex-basis: calc(50% - 10px);
  }

  .flex-middle {
    display: flex;
    justify-content: space-between;
    gap: 0;
  }
  .flex-middle .flex-pic {
    flex-basis: calc(50% - 10px);
  }

  .blog .blog-main {
    padding: 40px 0;
  }
  .blog .blog-main__header {
    width: 90%;
  }

  .blog-card {
    width: 80%;
  }
  .blog-card__date {
    width: 60px;
    height: 60px;
    left: 20px;
    top: 20px;
  }
  .blog-card__txt {
    padding: 0 20px 20px;
  }
  .blog-card__txt .title {
    font-size: 1.3rem;
    margin-bottom: 5px;
  }

  .contact-foot {
    padding: 40px 0 40px;
  }
  .contact-foot__header {
    width: 90%;
  }

  .contact-form__input {
    width: 340px;
  }
  .contact-form__textarea {
    height: 150px;
    overflow: hidden;
  }
}
@media screen and (max-width: 375px) {
  .main-content-fresh .fresh__aside .fresh-title {
    margin-bottom: 70px;
  }
  .main-content-fresh .fresh__aside-descr {
    margin-bottom: 150px;
    width: 80%;
  }
}