* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    color: #171717;

}

.container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

.main_content {
    box-shadow: 0 0 30px #e4e1e1;
    margin-top: 126px;
    margin-bottom: 300px;
}

.text {  
    padding: 132px 135px 0 124px;
}

h2 {
    margin-bottom: 20px;
    font-size: 42px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    letter-spacing: .6px;
}

p {
    margin-bottom: 34px;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: .7px;
    color: #aeaeae;
}

p:last-of-type {
    margin-bottom: 39px;
}

.first:first-letter {
    font-size: 110px;
    float: left;
    line-height: 85px;
    padding-right: 28px;
    color: #171717;
    font-family: 'Playfair Display', sans-serif;
}

blockquote {
    font-style: italic;
    font-size: 24px;
    padding-left: 51px;
    letter-spacing: 1px;
    color: #aeaeae;
    font-weight: 400;
    position: relative;
    margin-bottom: 37px;
}

blockquote:before {
    content: '“';
    font-size: 70px;
    position: absolute;
    left: -3px;
    top: -38px;
}

button {
    width: 264px;
    height: 69px;
    border: 2px solid #eaa258;
    outline: 0 none;
    background-color: #fff;
    text-transform: uppercase;
    color: #eaa258;
    font-size: 18px;
    letter-spacing: 2.5px;
    margin-bottom: 118px;
}

button:hover {
    background-color: #eaa258;
    color: #fff;
}