* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'HansKendrick-Regular';
    background-color: #e2e7ec;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    max-width: 1120px;
    margin: 0 auto;
}

.main_content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 92px;
    margin-bottom: 74px;
}

.content_card {
    flex-basis: calc((100% - 40px) / 3); 
    height: 540px;
    background-color: #fff;
    position: relative;
}

.content_card ul li img {
    margin-bottom: 20px;
}

.author_icon {
    position: absolute;
    left: 28px;
    bottom: 25px;
}

.content_card ul li:nth-child(2),
.big_date {
    color: #818181;
    font-size: 13px;
    letter-spacing: 0.5px;
    margin-bottom: 17px;
    text-transform: uppercase;
}

.content_card ul li:nth-child(3),
.big_header {
    font-size: 22px;
    font-weight: bold;/*нет у нас такого начертания*/
    line-height: 29px;
    text-transform: uppercase;
}

.content_card ul li:nth-child(2),
.content_card ul li:nth-child(3) {
    padding-left: 28px;
    padding-right: 26px;
}

.big {
    flex-basis: calc(((100% - 40px) / 3) * 2 + 20px);
    position: relative;
}

.big img {
    vertical-align: bottom;
}

.gradient {
	display: inline-block;
	position: relative;    
	line-height: 0;
}
.gradient:after {
	content: "";
	display: block;    
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 0;      
	left: 0;   
	background:linear-gradient(180deg, rgba(255, 255, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
	opacity: 0.8;
}

.big_header {
    color: #fff;
    font-size: 31px;
    line-height: 38px;
    padding-top: 5px;
}

.big_text {
    position: absolute;
    bottom: 28px;
    left: 42px;
    z-index: 6;
    width: 70%;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader span {
    font-size: 13px;
    text-transform: uppercase;
    color: #99a5b0;
    vertical-align: middle;
}



@font-face {
    font-family: 'HansKendrick-Regular';
    src: url('../fonts/HansKendrick-Regular.eot');
    src: url('../fonts/HansKendrick-Regular.woff') format('woff'),
    url('../fonts/HansKendrick-Regular.ttf') format('truetype');
    font-style: normal; 
    font-weight: normal;   
}