* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

button, input {
    border: 0 none;
}

body, html {
    width: 100%;
    height: 100%;
}

.container {
    width: 90%;
    max-width: 1060px;
    margin: 0 auto;
    background-color: #fff;
}

.italic {
    font-style: italic;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #464f54;
}

.title_block {
    width: 69%;
    position: absolute;
    right: 0;
    top: 49px;
}

.title {
    display: block;
    width: 100%;
    background-color: #181818;
    color: #767676;
    padding: 45px 0 48px 64px;
    /* margin-top: 46px; */
}

label.title_name {
    font-family: 'Proxima Nova Regular', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 4px;  
}


#title_txt {
    font-family: 'Playfair Display', serif;
    background-color:#181818;
    color: #fefefe;
    outline: none;
    border-bottom: 3px solid #767676;
    font-size: 48px;
    padding-bottom: 16px;
    line-height: 55px;
    width: 100%;
}

.text_content {
    background-color: #eeb62b;
    padding-left: 20px;
    width: calc(100% - 64px);
    margin-left: 64px;
}

.text_content ul {
    display: flex;
    flex-wrap: wrap;
    justify-items: left;
    padding: 10px;
}

button {
    padding: 10px;
    background-color: inherit;
    color: #fff; 
    margin-right: 7px;  
}

button:hover i {
    opacity: 1;
}

i {
    font-size: 33px;
    opacity: 0.6;
} 

.main_content {
    max-width: 920px;
    margin: 0 auto;
    border-left: 3px solid #e8eced;
    padding: 0 60px 0 50px;
    margin-top: 150px;
}

.main_content .upper {
    font-family: 'Proxima Nova Regular', sans-serif;
    color: #b4b4b4;
    padding-top: 198px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 30px;
}

.main_content h1 {
    font-family: 'Futura PT', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    color: #2a2a2a;
    font-size: 78px;
    letter-spacing: 3px;
    line-height: 78px;
    margin-bottom: 5px;
}

.main_content .subheader {
  
    color:#8f8f8f;
    font-size: 30px;
    margin-bottom: 47px;
}

.main_content p {
    font-size: 27px;
    text-align: justify;
    margin-bottom: 22px;
    line-height: 40px;
}

.main_content p:last-child {
    padding-bottom: 40px;
}

