* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
}

.wrapper {
    margin-top: 20px;
}

#rad {
    height: 30px;
    padding-left: 5px;
}

.inp {
    margin-bottom: 20px;

}

button {
    padding:7px;
    color: #fff;
    background-color: tomato;
    border: none;
    border-radius: 5px;
}
ul {
    list-style: none;
    margin-top: 20px;
}